::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #fa9614;
}
::-webkit-scrollbar-track {
  background: #323539;
}

.faup-date {
  display: block;
}
.faup-fav {
  font-weight: bold;
}
.faup-profile {
  font-weight: bold !important;
  display: block !important;
  margin-bottom: 10px;
}
.faup-profile > img {
  width: 100px !important;
  display: block !important;
  margin-left: 25%;
  margin-bottom: 5px !important;
}

.message-stream > .showing {
  display: inline-table !important;
  text-align: center !important;
  width: 200px !important;
}
