* {
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

a {
  font-weight: bold;
  color: inherit;
}

body {
  background: rgb(25, 25, 35);
  color: white;
  width: 300px;
  height: 500px;
  font-family: Arial;
}

.title {
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 25px;
  font-weight: bold;
  background: rgb(25,25,25);
  padding: 5px;
}

input[type="text"] {
  background: none;
  color: white;
  padding: 5px;
  border-bottom: solid 0px rgba(215,32,131,.59);
  transition: border-bottom 0.2s ease;
}
input[type="text"]:hover, input[type="text"]:focus {
  border-bottom: solid 2px rgba(215,32,131,.59);
}

.wrapper {
  margin-top: 45px;
}

.icon {
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0.2;
  transition: opacity 0.2s ease;
}
.icon:hover {
  opacity: 1;
}

.options {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: rgba(45,45,45,0.5);
  text-align: center;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}
